doctype html
// Don't worry, I will protect you my feeble turtle duck 
html(lang='en_us')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='author' content='Brody Liudzius')
		meta(name='description' content='Personal website of Brody Liudzius')

		title An Error Ocurred

		link(rel='stylesheet' type='text/css' href='/assets/stylesheets/default.css')
		link(rel='stylesheet' type='text/css' href='/assets/stylesheets/pageColors/midnight.css')
	body
		include ../includes/header.pug
		main(style="text-align: center")
			h1 #[strong 50X Error]
			p The server encountered an unknown problem
		include ../includes/footer.pug