.fontSizeXXSmall {
	font-size: xx-small;
}
.fontSizeXSmall {
	font-size: x-small;
}
.fontSizeSmall {
	font-size: small;
}
.fontSizeMedium {
	font-size: medium;
}
.fontSizeLarge {
	font-size: large;
}
.fontSizeXLarge {
	font-size: x-large;
}
.fontSizeXXLarge {
	font-size: xx-large;
}

.fontSizeSmaller {
	font-size: smaller;
}
.fontSizeLarger {
	font-size: larger;
}