extends mixins/defaultTemplate.pug

block title
	title About Me

//- livingDocument: Update the content block
block content
	main
		article
			+section("About Me (and my website)")
				p    My name is Brody Liudzius and I am currently a third-year 
					| computer engineering student studying at California State
					| University, Long Beach. I transferred here in Fall of 2022
					| from Moorpark College after getting my Associate's
					| degree. I'm currently slated to graduate in spring of
					| 2025.
				p    My interest in computer engineering started in high school when 
					| my friends and I took a game design class together. It was there
					| that I learned how to program and at home I began to experiment
					| with electronic circuits. I've always enjoyed science, engineering,
					| and art and I am always starting personal projects of all sorts.
				p    This website was started in college—primarily as a place for me 
					| to post whatever I'm up to as well as my notes, but also to serve as a
					| portfolio of sorts. To that end, you can find my LinkedIn, GitHub, and resumé
					| linked below. I am #[strong not] a web developer and web development is far
					| from my area of expertise, but I try to learn a little of everything
					| and a website is an easy thing to point people towards.
					//- toDo: Link resume and all that
				p    If you want to know more about the website and how it works, then 
					| here's the run-down: This website is written from scratch using 
					a(href="https://github.com/pugjs/pug") Pug
					|  (a templating language that compiles to HTML) and CSS. The source
					| for this website can be found on 
					a(href="https://github.com/BrodyLiudzius") my GitHub
					| . I #[i do not] recommend building a website from scratch, but it
					| makes the website small and fast and more importantly, gave me
					| some hands-on learning experience with HTML and CSS. I am currently
					| self-hosting this website from 
					a(href="https://www.hardkernel.com/shop/odroid-xu4-special-price/") a very small computer
					|  because I'm a college student with no money.
			+section("Links to Socials")
				ul
					+liLink("https://www.linkedin.com/in/brodyliudzius/", "LinkedIn")
					+liLink("https://www.instagram.com/brody_liudzius/", "Instagram")
					+liLink("https://github.com/BrodyLiudzius", "GitHub")
