:root {
	/* Background colors */
	--colorBackground0: #ede8df;
	--colorBackground1: #e2d6c2;
	--colorBackground2: #d3c1a5;

	/* Foreground colors (for text) */
	--colorForeground0: #86795f;
	--colorForeground1: #89764b;
	--colorForeground2: #548a51;

	/* Accent colors (for decoration) */
	--colorAccent0: #653731;
	--colorAccent1: #ce8b5f;
	--colorAccent2: #dbbb7b;
	--colorAccent3: #b5ae6b;
	--colorAccent4: #84b263;
	--colorAccent5: #457f1C;
}