:root {
	/* Background colors */
	--colorBackground0: #202020;
	--colorBackground1: #303030;
	--colorBackground2: #404040;

	/* Foreground colors (for text) */
	--colorForeground0: #cfcfcf;
	--colorForeground1: #e6e6e5;
	--colorForeground2: #ffffff;
}