:root {
	/* Background colors */
	--colorBackground0: #ffffff;
	--colorBackground1: #f6f6f6;
	--colorBackground2: #ececec;

	/* Foreground colors (for text) */
	--colorForeground0: #686868;
	--colorForeground1: #7a90a1;
	--colorForeground2: #227abd;

	/* Accent colors (for decoration) */
	--colorAccent0: #e34060;
	--colorAccent1: #fab246;
	--colorAccent2: #f2df61;
	--colorAccent3: #78c96f;
	--colorAccent4: #267bbf;
	--colorAccent5: #aa4fff;
}