doctype html
include genericMixins.pug
html(lang="en_us")
	head
		block meta
			include defaultMeta.pug

		block title

		block stylesheets
			link(rel="stylesheet" type="text/css" href="/assets/stylesheets/default.css")
			link(rel="stylesheet" type="text/css" href="/assets/stylesheets/pageColors/dark.css" title="Dark")
			link(rel="alternate stylesheet" type="text/css" href="/assets/stylesheets/pageColors/light.css" title="Light")
			link(rel="alternate stylesheet" type="text/css" href="/assets/stylesheets/pageColors/bamboo.css" title="Bamboo")
			link(rel="stylesheet" type="text/css" href="/assets/stylesheets/accentColors/original.css")
		block scripts
	body
		block header
			include header.pug
		block content
		block footer
			include footer.pug