footer
	div(class="textAlignLeft flexBoth")
		|  
	//- #livingDocument: Update the year
	div(class="textAlignCenter flexGrow")
		| © 2023 Brody Liudzius
		div(class="fontSizeLarge")
			- for (var i = 0; i < 6; i++)
				span(class="textAccent"+i) •&nbsp;&nbsp;
	div(class="textAlignRight flexBoth")
		a(href="/") Home
		br
		a(href="about.html") About