header
	div(class="inine flexGrow")
		span(class="half textAlignCenter") Brody Liudzius
	div(class="textAlignRight flexGrow")
		a(class="inline" href="/") Home
		| &nbsp; | &nbsp;
		a(class="inline" href="about.html") About