@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "/assets/stylesheets/generic/columns.css";
@import "/assets/stylesheets/generic/display.css";
@import "/assets/stylesheets/generic/flex.css";
@import "/assets/stylesheets/generic/textAlign.css";
@import "/assets/stylesheets/generic/color.css";
@import "/assets/stylesheets/generic/shadow.css";
@import "/assets/stylesheets/generic/font.css";

/* 
#toDo:
- Add comments to the CSS
- Organize the properties
*/

body {
	background-color: var(--colorBackground0);
	color: var(--colorForeground0);
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro", sans-serif;
	min-height: 100vh;
	margin: 0;
}

main, header, footer, article, section {
	padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Inter", sans-serif;
	color: var(--colorForeground2);
	font-weight: 250;
}

a {
	color: var(--colorForeground2);
	text-decoration: underline;
}

body > main {
	padding: 10px 8% 20px 8%;
	flex: 1 1 auto;
}

body > footer {
	font-size: smaller;
}

body > header, body > footer {
	color: var(--colorForeground1);
	background-color: var(--colorBackground1, #F8F8F8);
	flex: 0 0 auto;

	display: flex;
	flex-direction: row;

	box-shadow: 0px 0px 10px #101010;
}
body > header a, body > footer a {
	color: inherit;
	text-decoration: none;
}

hr {
	border: 1px solid var(--colorForeground1);
}

img {
	width: 100%;
}

ol, ul {
	list-style: none;
}
ol {
	counter-reset: ol-counter;
}
ol li {
	counter-increment: ol-counter;
}
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	border-color: var(--colorForeground2);
}
th, td {
	padding: 5px;
}


li:before {
	color: var(--colorForeground2);
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
ul li:before {
	content: "\2022";
	font-weight: 900;
}
ol li:before {
	content: counter(ol-counter) ".";
}

/* Displays the external link icon after URLs beginning in http or https */
a[href^="http"]:after, a[href^="https://"]:after {
	width: 0.65em;
	height: 0.65em;
	display: inline-block;
	content: "";
	-webkit-mask: url(/assets/icons/externalLink.svg) no-repeat 50% 50%;
	mask: url(/assets/icons/externalLink.svg) no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: var(--colorForeground2);
	margin-left: 2px;
	margin-bottom: 2px;
}